@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-khadi-50 text-slate-800 font-sans antialiased selection:bg-khadi-500 selection:text-white;
    background-color: #FDFBF7;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F8F4EC;
}

::-webkit-scrollbar-thumb {
  background: #D9D0C1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C86D27;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
